apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: basic-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/cebrianj/argocd-poc.git'
    targetRevision: HEAD
    path: argo-app
    helm:
      valueFiles:
        - values.yaml
    parameters:
        - name: sealedSecrets.mongodb.mongodb-password
          value: "AgB6Y2F7ZEwLzzbeB0ql+KBEZUziI3OuTNMb2m3Kx9d6H1PFBl+KbUErhWsgXEZJpaCaqkh+oEelrmI+8ZSIlnUdcU0t1uf9097rM4ZkDNJLrniKUsf2GgJVjAWomHUzR2rfjREKuBpUTzDMK8Y7UDsp/LS5aZUKPC6vbmgb8CffK2o2vPqgu7HFhNrhkzq709X5DsNLPYrcwI+ojNQm/Uj9VdvZNwjhtVwPv7wahxeZxQ7rKm6vgLbpQdlJ6KxS9ZIbst7hYMNuh2dz9S4BNZyhcJtIm0imEJi6v6QImbChIIdSdOXTVKmo8bU3wMpK/kK5v3KZuQVRTclpI0/yS0BFtE7Zcqgp1if0koEHRRNdon3ziUrtRKmW62ycfPJU/oGkExiwrvMJiPjBnAaXL86mbQECTMPK0UI2RsaGR59KF1fFVh/HBFny+vOCgHwOrSVd6fmssuolB2rB2RrNt+F39nvdLek6vK0amwfK2sIkeGOHgxOWy1CSqsVaAsXpl8Gab2/OK58We8tL4ooeO4DX+C1brKJOEBqICLg3h/7vLYzcfmgyMrTvJnQvOSYu71RkVPyedVaXwlbgBiEj5U9ZZlq77TzQzVjh1QAcZQnEqZh90KLx1SSYIqRYpcLLALz7aUGrm9xKqOhpRTYiRoHPqrtrckwCxEtb3qsc0NqyazrDD+YQcixqOV/lVBGgqx9gLo8wlrVmUg5SiupSC7MXph0="
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argo-app
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true